<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>instaMoment</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body id="LoginForm">
    <div class="container">
        <h1 class="form-heading">InstaMoment</h1>
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Login</h2>
                    <p>Entre com seu email e senha</p>
                </div>
                <form th:action="@{/login}" method="POST" id="Login">
                    <div class="form-group">

                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Senha">
                    </div>
                    <div class="forgot">
                        <a href="reset.html">Esqueceu sua senha?</a>
                    </div>
                    <div align="center" th:if="${param.error}">
                		<p style="font-size: 20; color: #FF1C19;">Email ou Senha inválido.  Favor verificar.</p>
            		</div>
                    <button type="submit" class="btn btn-primary" value="Login" th:text="Login"></button>
                </form>
                <p></p>
                <form th:action="@{/registro}" method="get">
					<button class="btn btn-primary" type="Submit">Registro</button>
				</form>	
                
            	</div>
            	<p class="botto-text"> Designed by André Santos</p>
        	</div>
    	</div>
</body>
</html>